<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cb7971db83dea15a1834cf8d3e3193a8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cb7971db83dea15a1834cf8d3e3193a8" ></div>
        
</body>
<script>
    
    
            var map_cb7971db83dea15a1834cf8d3e3193a8 = L.map(
                "map_cb7971db83dea15a1834cf8d3e3193a8",
                {
                    center: [35.67061628919986, 139.69567437962016],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_899b51a2971ab5dab1131e9b24589c04 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_1b9f702499b1739d89de686d809d3804 = L.polyline(
                [[35.67003164502453, 139.69917334912813], [35.668503598507044, 139.69735017341262]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_4bdc0fd82286d67a54c05804b7fc5ba1 = L.polyline(
                [[35.67003164502453, 139.69917334912813], [35.670109889880706, 139.6956226326814]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_714999d50dfb7fa7af500b0223cf9eaf = L.polyline(
                [[35.668503598507044, 139.69735017341262], [35.670109889880706, 139.6956226326814]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_3aa48de9009f23d5c2f2aac2ba8dd978 = L.polyline(
                [[35.668503598507044, 139.69735017341262], [35.667735340230486, 139.69497987229343]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_5e89236b8ff478291bda21e891db8ca7 = L.polyline(
                [[35.667735340230486, 139.69497987229343], [35.66917693999256, 139.69381518770768]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_27b21b9d649320ec4161217835ebf50a = L.polyline(
                [[35.667735340230486, 139.69497987229343], [35.670109889880706, 139.6956226326814]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_ac9dbdaf5403949d20b3a8a9a9458a6e = L.polyline(
                [[35.670109889880706, 139.6956226326814], [35.67104280918057, 139.69344566333254]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_9af3fc9fc2ba60bc4819a252f50184c9 = L.polyline(
                [[35.670109889880706, 139.6956226326814], [35.6731505814937, 139.695854029406]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_61ccd6eb191b4d70f769ed2a012e62d9 = L.polyline(
                [[35.66917693999256, 139.69381518770768], [35.67104280918057, 139.69344566333254]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_534c1ef90639607ccdb44c4fc7a31533 = L.polyline(
                [[35.6731505814937, 139.695854029406], [35.67104280918057, 139.69344566333254]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_d86a5889caee0f31a6f5b95fb7330614 = L.polyline(
                [[35.66917693999256, 139.69381518770768], [35.669825887426775, 139.69159828736898]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_6bcb9b3985e05c2d7cb237caa3b0dce9 = L.polyline(
                [[35.669825887426775, 139.69159828736898], [35.67181545147268, 139.69172210148648]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_0864a24a8b9ef6b8345e69fa20555b01 = L.polyline(
                [[35.67104280918057, 139.69344566333254], [35.67181545147268, 139.69172210148648]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_3f4401602fbd4c2d0411286dfe2a0254 = L.polyline(
                [[35.673500896630685, 139.69338567952164], [35.67181545147268, 139.69172210148648]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_c0beee7a05e98e7d566ff3deb8d07f4c = L.polyline(
                [[35.6731505814937, 139.695854029406], [35.673500896630685, 139.69338567952164]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_6277ff59ccefccdd3bda1ae5d4a7e2ab = L.polyline(
                [[35.670109889880706, 139.6956226326814], [35.66917693999256, 139.69381518770768]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_46ce2d2a14d5d6b07ec2f8737a472e96 = L.polyline(
                [[35.671534301157195, 139.69689560950766], [35.6731505814937, 139.695854029406]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_1f9a80c2005c6a5c94a6ffb3d395be8b = L.polyline(
                [[35.671534301157195, 139.69689560950766], [35.67104280918057, 139.69344566333254]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_38d3baf10f03d8998f35198932043a8b = L.polyline(
                [[35.671534301157195, 139.69689560950766], [35.670109889880706, 139.6956226326814]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_4e21ef3d4d53450dfcf1f932b6be68cc = L.polyline(
                [[35.671534301157195, 139.69689560950766], [35.668503598507044, 139.69735017341262]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
    
            var poly_line_3f8913b866e673717f2954a7aba745a1 = L.polyline(
                [[35.671534301157195, 139.69689560950766], [35.67003164502453, 139.69917334912813]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cb7971db83dea15a1834cf8d3e3193a8);
        
</script>
</html>