{% extends 'base.html' %}

{% block head %}
<title>システム管理者</title>
<meta name="description" content="システム管理">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block body %}
<!-- Socket.IOのクライアントライブラリを追加 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
    // サーバーに接続
    var socket = io.connect('/admin');

    // サーバーからのイベントをリッスン
    socket.on('update_data', function(data) {
        location.reload();  // ページをリロード
    });
</script>

<div class = "container">

    <header class = "site_header">

        <div class="site_header_wrapper">
            <a class="brand">ParKeeper</a>
        </div>

        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <form class="menu-content" action="/admin"  method="POST">
                <ul>
                    <li>
                        <input type = "submit" name = "btn" value = "ALL" class="btn_01"></input>
                    </li>
                    <li>
                        <input type = "submit" name = "btn" value = "トイレA" class="btn_02"></input>
                    </li>
                    <li>
                        <input type = "submit" name = "btn" value = "ゴミ箱A" class="btn_03"></input>
                    </li>
                    <li>
                        <input type = "submit" name = "btn" value = "トイレB" class="btn_04"></input>
                    </li>
                </ul>
            </form>
        </div>

    </header>
    <body >
    </body>

    <div class="detail">
        <div class="detail_txt">
            <div class="txt_position">
                {% for R in route %}
                    <a>{{R}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <form action="/admin" class="map_set" method="POST">

        <div class="btn_map">
            <input type = "submit" name = "btn" value = "ALL" class="btn_01"></input>
            <input type = "submit" name = "btn" value = "トイレA" class="btn_02"></input>
            <input type = "submit" name = "btn" value = "ゴミ箱A" class="btn_03"></input>
            <input type = "submit" name = "btn" value = "トイレB" class="btn_04"></input>
            <div class = "logout">
                <a href="{{url_for('login')}}">
                    <!--urlはリンク先の関数名-->
                    <button class="favorite styled"
                        type="button" >
                    ログアウト
                    </button></a>
            </div>
        </div>

            <iframe class= "frame_center" src="/map/{{location}}"  style="border-radius: 20px;"></iframe>


    </form>

</div>
{% endblock %}
