<form name="login_form">
  <link rel="stylesheet" href="/static/style2.css">
      <p class="resizeimage">
      <div class="login_form_top">
      <div style="text-align: center">
      <div style="width: 400px; margin: auto;">
      <font color=”#FFFFFF”>
        <body >
        </body>
  
        <h1>Park Keeper</h1>
        <button onclick="location.href='http://127.0.0.1:5000/admin'">管理者</button>
        <button onclick="location.href='http://127.0.0.1:5000/useryoyogi'">利用者</button>
  
  
        <br><label for="username"class="right">ユーザーID:</label>
        <input type="text" id="username" name="username"><br>
      
        <label for="pass"class="right">パスワード:</label>
        <input type="password" id="pass" name="password" minlength="6" required>
      </div>
      <input type="submit" value="ログイン">
      <p>
        パスワードを忘れた方は<a href="https://forms.gle/tFyBFGpPaKYAcbgT6">こちら</a>からパスワードの再認証をお願いします。
      </p>
      </div>
      </div>
      </p>
    </font>
  </form>