


/* .container{
    font-family: "Marcellus", serif;
} */

/* header {
    width: 100%;
    top: 0;
    left: 0;
} */

.site_header_wrapper{
    text-align: center;
}

.brand{
    font-weight: bold;
    font-size: 4em;
    }

.detail{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.detail a{
    display: block;
    font-size: 40px;
}

.detail_txt{
    display: flex;
    height: auto;
    width: 1580px;
    border: 2px solid black;
    justify-content:center;
}

.txt_position{
    display: inline-block;
}

.map_set{
    display: flex;
    justify-content: center;
}

.btn_01 {
    display: block;
    text-align: center;
    line-height: 80px;
	width: 250px;
    height: 110px;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 20px;
	border: 2px solid black;
	color: black;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.btn_02 {
    display: block;
    text-align: center;
    line-height: 80px;
	width: 250px;
    height: 110px;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 20px;
	border: 2px solid #0000FF;
	color: #0000FF;
    background-color: rgba(0, 0, 255, 0.2);
    margin-bottom: 10px;
}

.btn_03 {
    display: block;
    text-align: center;
    line-height: 80px;
	width: 250px;
    height: 110px;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 20px;
	border: 2px solid #FFA500;
	color: #FFA500;
    background-color: rgba(255, 165, 0, 0.2);
    margin-bottom: 10px;
}

.btn_04 {
    display: block;
    text-align: center;
    line-height: 80px;
	width: 250px;
    height: 110px;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 20px;
	border: 2px solid #FF18B5;
	color: #FF18B5;
    background-color: rgba(237, 51, 255, 0.2);
    margin-bottom: 10px;
}

.btn_map{
    padding-right: 30px;
}

.frame_center{
    width: 1300px;
    height: 800px;
}

.hamburger-menu{
    display: none;
}

.menu-content{
    display: none;
}

/* .map_set a{
    display: block;
    text-align: center;
    line-height: 80px;
	width: 120px;
    height: 80px;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 20px;
	border: 2px solid black;
	color: black;
    margin-bottom: 10px;
}  */


@media (max-width:480px){
    .site_header_wrapper{
        padding-bottom: 5px;
    }

    .brand{
        font-weight: bold;
        font-size: 30px;
    }
    
    .detail{
        margin-bottom: 15px;
    }

    .detail a{
        display: block;
        font-size: 20px;
    }

    .map_set{
        display: block;
        height: 450px;
    }

    .frame_center{
        width: 100%;
        height: 100%;
    }

    .btn_map{
        padding-right: 0px;
    }

    .map_set input{
        display: none;
    }





    /* ハンバーガーメニュー */

    .hamburger-menu{
        display: block;
    }

    .menu-content{
        display: block;
    }

    .menu-btn {
        position: fixed;
        top: 15px;
        right: 15px;
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: white;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: rgb(0,0,0);
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }



    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }


    #menu-btn-check {
        display: none;
    }


    .menu-content ul {
        padding: 42px 10px 0;
    }
    .menu-content ul li {
        list-style: none;
    }
    .menu-content ul li input {
        display: block;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.8);
        position: relative;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: white;
        transition: all 0.5s;/*アニメーション設定*/
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
}